.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.progress-bar-container {
  width: 100%;
}
.progress-bar {
  counter-reset: step;
}

.progress-bar li {
  list-style-type: none;
  float: left;
  width: 10%;
  position: relative;
  text-align: center;
}

.progress-bar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 3px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progress-bar li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progress-bar li:first-child:after {
  content: none;
}

.progress-bar li.active {
  color: green;
}

.progress-bar li.active:before {
  border-color: green;
}

.progress-bar li.active + li:after {
  background-color: green;
}
